<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" title="Home">
				<i class="fa fa-home"></i>
				<code>&lt; Kyle P Davis /&gt;</code>
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><p class="navbar-text container-fluid"><small><code>['tech', 'code', 'rants']</code></small></p></li>
			<li><a href="/posts.html" title="Posts"><i class="fa fa-file-text-o"></i><span class="hidden-sm"> Posts</span></a></li>
			<li><a href="/tags.html" title="Tags"><i class="fa fa-tag"></i><span class="hidden-sm"> Tags</span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/KylePDavis/" target="_blank" title="GitHub"><i class="fa fa-github"></i><span class="hidden-sm"> GitHub</span></a></li>
			<li><a href="https://twitter.com/Kyle_P_Davis" target="_blank" title="Twitter"><i class="fa fa-twitter"></i><span class="hidden-sm"> Twitter</span></a></li>
			<li><a href="https://www.linkedin.com/in/KylePDavis" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i><span class="hidden-sm"> LinkedIn</span></a></li>
		</ul>
	</div>
</div>
